<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myManageLabel" jhiTranslate="betsportV2App.manage.home.createOrEditLabel">Create or edit a Manage</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!manage.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="manage.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="betsportV2App.manage.managementDate" for="field_managementDate">Management Date</label>
            <div class="d-flex">
                <input id="field_managementDate" type="datetime-local" class="form-control" name="managementDate" [(ngModel)]="manage.managementDate"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.managementDate?.dirty && editForm.controls.managementDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.managementDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.managementDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="betsportV2App.manage.state" for="field_state">State</label>
            <select class="form-control" name="state" [(ngModel)]="manage.state" id="field_state"  required>
                <option value="ACTIVE">{{'betsportV2App.State.ACTIVE' | translate}}</option>
                <option value="INACTIVE">{{'betsportV2App.State.INACTIVE' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.state?.dirty && editForm.controls.state?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.state?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="betsportV2App.manage.cashier" for="field_cashier">Cashier</label>
            <select class="form-control" id="field_cashier" name="cashier" [(ngModel)]="manage.cashier" >
                <option [ngValue]="null"></option>
                <option [ngValue]="employeeOption.id === manage.cashier?.id ? manage.cashier : employeeOption" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="betsportV2App.manage.cashDesk" for="field_cashDesk">Cash Desk</label>
            <select class="form-control" id="field_cashDesk" name="cashDesk" [(ngModel)]="manage.cashDesk" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cashDeskOption.id === manage.cashDesk?.id ? manage.cashDesk : cashDeskOption" *ngFor="let cashDeskOption of cashdesks; trackBy: trackCashDeskById">{{cashDeskOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
